.project-form, .project {
  width: 100%;
  justify-self: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  padding: 2em;
  -webkit-box-shadow: -4px 3px 15px 0px rgba(176, 174, 183, .25);
  -moz-box-shadow:    -4px 3px 15px 0px rgba(176, 174, 183, .25);
  box-shadow:         -4px 3px 15px 0px rgba(176, 174, 183, .25);
}

.project-form button {
  font-family: 'Lato', sans-serif;
  background-color: #485ef6;
  color: #ffffff;
  outline: none;
  border: none;
}

.close {
  font-weight: bold;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-box-shadow: -4px 3px 15px 0px rgba(176, 174, 183, .45);
  -moz-box-shadow:    -4px 3px 15px 0px rgba(176, 174, 183, .45);
  box-shadow:         -4px 3px 15px 0px rgba(176, 174, 183, .45);
}

.create-btn {
  align-self: flex-end;
  width: 75px;
  height: 30px;
  font-size: 1em;
  background-color: #485ef6;
  border-radius: 20px;
  padding-bottom: 5px;
  margin-top: 2em;
  -webkit-box-shadow: -4px 3px 15px 0px rgba(176, 174, 183, .45);
  -moz-box-shadow:    -4px 3px 15px 0px rgba(176, 174, 183, .45);
  box-shadow:         -4px 3px 15px 0px rgba(176, 174, 183, .45);
  border: none;
  color: #ffffff;
}

.project-form label {
  font-size: 1.2em;
  font-weight: bold;
  margin: 1em 0 .3em .3em;
}

.form-input {
  border: 1px solid #b0aeb7;
  padding: .5em;
  border-radius: 1em;
  font-family: 'Lato', sans-serif;
}

.project-form select {
  width: 45px;
  height: 30px;
  padding: .5em;
  border-radius: 1em;
  border: none;
  background-color: #485ef6;
  color: #ffffff;
  font-weight: bold;
  -webkit-box-shadow: -4px 3px 15px 0px rgba(176, 174, 183, .45);
  -moz-box-shadow:    -4px 3px 15px 0px rgba(176, 174, 183, .45);
  box-shadow:         -4px 3px 15px 0px rgba(176, 174, 183, .45);
}

.empty {
  border: 2px solid #d691ac;
}